@import '~@angular/material/theming';

.grid-container{
  background-color: var(--light-color);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-auto-flow: dense;
  width: auto;
  margin: 60px auto auto;
}

.title {
  font-weight: 500;
  color: black;
  font-size: x-large;
  margin-top: auto;
  margin-bottom: 0;
  text-align: right;
  padding: 5% 10%;
  grid-column: span 1;
  grid-row: span 1;
}

.text {
  display: flex;
  grid-column: span 1;
  grid-row: span 1;
  font-size: large;
  text-align: right;
  font-weight: 300;
  line-height: 25px;
  padding: 1% 10% 5%;
}

::ng-deep{
  .mat-button-wrapper {
    height: fit-content;
    margin: auto;
  }
}
.docs-button:hover {
  background-color: var(--lightest-color);
  color: var(--darkest-color);
}
.docs-button {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  @include mat-elevation(1, var(--darker-color));
  width: 60%;
  height: 70px;
  margin-left: 10%;
  object-fit: fill;
  grid-column: span 1;
  grid-row: span 2;
  margin-top: auto;
  margin-bottom: auto;
  font-size: x-large;
}

@media (max-width: 600px) {
  .grid-container{
    grid-template-columns: 100%;
    margin-bottom: 0;
  }
  .title {
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    padding: 3%;
  }
  .text {
    font-size: large;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    padding: 5%;
  }
  .docs-button {
    margin: auto;
  }
}
