/* You can add global styles to this file, and also import other style files */
// import our custom theme
@import 'main-app-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-custom-theme);
}
:root{
  --main-bg-color: white;
  --darkest-color: #5d016f;
  --darker-color: #720189;
  --dark-color: #8402a1;
  --primary-color: #b302d9;
  --light-color: #d259f3;
  --lighter-color: #efa8fe;
  --lightest-color: #f7d5fe;
  --secondary-color: #7fc241;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep{
  .mat-button-ripple {
    color: var(--darkest-color);
  }
}
