<mat-sidenav-content id="content">
  <div id="circle-logo">
    <img [src]="mobileQuery.matches ? 'assets/circle-logo.svg' : 'assets/circle-logo.svg'"
         style="width: 100%; height: 100%;object-fit: fill;"
         alt="ChordScript logo">
  </div>
  <div id="main-buttons">
    <h1 id="title">{{welcomeTitle}}</h1>
    <a mat-raised-button *ngFor="let item of mainButtons"
       routerLink="{{item.route}}"
       class="main-button">
      {{item.name}}
    </a>
  </div>
  <div>
    contentt
  </div>
</mat-sidenav-content>
